node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# android
*.keystore

# Firebase
google-services.json
GoogleService-Info.plist

# React Native - Expo - platforms folders
android/
ios/

# Jest
coverage/
